.header-nosotros {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 592px;
}

@media only screen and (max-width: 930px) and (min-width: 767px){
  .header-nosotros .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 433px;
    margin: -265px 0 0 -324px;
  }
}

.header-nosotros .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 433px;
  margin: -264px 0 0 -590px;
}

@media (max-width: 1024px){
  .header-nosotros .caption-inner {
      padding: 20px 23px;
  }
}

.header-nosotros .caption-inner {
  padding: 30px 33px;
  border-left: 3px solid #51b8f2;
  background-color: #fff;
}

.header-nosotros .caption > h5 {
  display: inline-block;
  min-width: 171px;
  height: 52px;
  padding: 16px 0;
  color: #fff;
  background-color: #51b8f2;
  text-align: center;
  text-transform: uppercase;
}

.cartel-benvienido{
  font-family: "Dosis", sans-serif;
  font-size: 31px;
  line-height: 1;
  color: #54667a;
  font-weight: 500;
}
