
<footer class="th-footer">

    <div class="box-footer">

        <div class="grid">
            <div class="col-3">
                <div class="card-footer">
                    <div class="card-footer-title">Quienes Somos?</div>
                    <div class=".card-footer-content">
                        <p>
                            Somos un laboratorio de análisis clínicos comprometido con la calidad,
                            con 60 años de trayectoria en la zona norte del Gran Buenos Aires y alrededores,
                             y con desarrollo internacional como laboratorio centralizado para estudios de
                              investigación clínica.
                        </p>
                        <div class="card-footer-footer">
                            <div class="grid">
                                <div class="col-2">
                                    <i class="pi pi-instagram" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-twitter" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-facebook" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-youtube" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-linkedin" style="font-size:2rem;"></i>
                                </div>
                            </div>
                    </div>
                    </div>
   
                </div>
            </div>
            <div class="col-3">
                <div class="card-footer">
                    <div class="card-footer-title">
                        <i class="pi pi-plus" style="font-size: 1.5rem;margin-right: 5px;"></i>Contacto
                    </div>
                    <div class="card-footer-content">
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-3">
                tercera parte
            </div>

    </div>


    </div>
</footer>