
<footer class="th-footer">

    <div class="box-footer">

        <div class="grid">
            <div class="col-4" style="text-align:justify;">
                <div class="card-footer">
                    <div class="card-footer-title">Quienes Somos?</div>
                    <div class=".card-footer-content">
                        <p>
                            Somos un laboratorio de análisis clínicos comprometido con la calidad,
                            con 60 años de trayectoria en la zona norte del Gran Buenos Aires y alrededores,
                             y con desarrollo internacional como laboratorio centralizado para estudios de
                              investigación clínica.
                        </p>
                        <div class="card-footer-footer">
                            <div class="grid">
                                <div class="col-2">
                                    <i class="pi pi-instagram" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-twitter" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-facebook" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-youtube" style="font-size:2rem;"></i>
                                </div>
                                <div class="col-2">
                                    <i class="pi pi-linkedin" style="font-size:2rem;"></i>
                                </div>
                            </div>
                    </div>
                    </div>
   
                </div>
            </div>
            <div class="col-4">
                <div class="card-footer">
                    <div class="card-footer-title">
                        <i class="pi pi-plus" style="font-size: 1.5rem;margin-right: 5px;"></i>Horarios de atención                   </div>
                    <div class="card-footer-content">
                        <ul>
                            <li style="list-style: none;">
                                <i class="pi pi-calendar"></i>
                                Lunes: 07:30AM - 20:00PM
                            </li>
                            <li style="list-style: none;">
                                <i class="pi pi-calendar"></i>
                                Martes: 07:30AM - 20:00PM
                            </li>
                            <li style="list-style: none;">
                                <i class="pi pi-calendar"></i>
                                Miércoles: 07:30AM - 20:00PM
                            </li>
                            <li style="list-style: none;">
                                <i class="pi pi-calendar"></i>
                                Jueves: 07:30AM - 20:00PM
                            </li>
                            <li style="list-style: none;">
                                <i class="pi pi-calendar"></i>
                                Viernes: 07:30AM - 20:00PM
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card-footer">
                    <div class="card-footer-title">
                        <i class="pi pi-plus" style="font-size: 1.5rem;margin-right: 5px;"></i>Contáctenos                   </div>
                    <div class="card-footer-content">
                        <ul>
                            <li style="list-style: none;">
                                <i class="pi pi-home"></i>
                                Dirección: San Martín 200 - Pcia. Tucumán
                            </li>
                            <li style="list-style: none;">
                                <i class="pi pi-phone"></i>
                                Teléfono: (222) - 433555
                            </li>
                            <li style="list-style: none;">
                                <i class="pi pi-pi-envelope"></i>
                                Correo: laboratorio@gmail.com
                            </li>
                            <li style="list-style: none;">
                                <i class="pi pi-map-marker"></i>
                                Cómo llego?
                            </li>
                        </ul>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d905.5455883015412!2d-65.41083107354221!3d-24.78920861395967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3bcaa4146a5%3A0x5858d5a81b90c139!2sPlaza%209%20de%20Julio!5e0!3m2!1ses!2sar!4v1666965789853!5m2!1ses!2sar" width="400" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>

    </div>


    </div>
</footer>